streamlit==1.36.0
openai==1.35.4
spacy
scipy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
networkx
plotly
matplotlib
pandas
python-docx
pdfplumber
requests
beautifulsoup4

